article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section, summary {
	display: block;
}

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 20;
	padding: 0;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	size: 24;
}

aside {
	width: 25%
}

main {
	width: 75%
}

h1 {
	float: top;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	margin: 0 30px;
	color: #4d4959;
	font-size: 3em;
	margin: 0.67em 0;
	margin: 0 30px;
	color: #4d4959;
}

h2 {
	float: top;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	margin: 0 30px;
	color: #4d4959;
	font-size: 1.5em;
	margin: 0.83em 0;
	margin: 0 30px;
	color: #4d4959;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

p {
	min-height: 50vh;
}

.half {
	min-height: 10vh;
}

.container {
	display: grid;
	grid-template-columns: 200px 1fr 3%;
	grid-template-rows: 150px;
	background-color: transparent;
}

.row {
	margin-right: -50px;
	margin-left: -50px;
}

nav {
	height: auto;
	width: 100%;
	background: none;
}

ul li {
	list-style: none;
	float: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
}

ul li a {
	display: block;
	margin: 0 30px;
	color: #4d4959;
}

a {
	display: block;
	margin: 10px;
	align: bottom;
	width: 200px;
}

ol li {
	color: #4d4959;
	text-align: justify; float : middle;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: middle;
}

ol li a {
	color: #4d4959;
	display: block;
	margin: 0 30px;
	color: #4d4959;
}

a {
	display: block;
	margin: 10px;
	align: bottom;
	width: 200px;
}

#table01 {
	float: middle;
	letter-spacing: 2px;
	margin: 0 30px;
	color: #4d4959;
	font-size: 1.0em;
	text-align: justify;
	margin: 0.9em 0;
	margin: 0 30px;
}

#table02 {
	float: middle;
	letter-spacing: 1px;
	display: block;
	margin: 0 30px;
	color: #4d4959;
	font-size: 1.0em;
	margin: 0.9em 0;
	margin: 0 30px;
}

.part1 {
	display: flex;
	background-color: transparent;
	min-height: 30vh;
}

.part1>div {
	background-color: white;
	height: 200px;
	width: 200px;
	margin: 10px;
	flex-grow: 1;
}

#art1left {
	width: 5%;
}

.part0 {
	display: flex;
	min-height: 30vh;
}

.part0>div {
	height: 200px;
	width: 200px;
	margin: 30px;
	flex-grow: 1;
}

#art0left {
	width: 25%;
}

.container>div {
	background-color: transparent;
	margin: 15px;
}

#one {
	min-height: 200px;
	background-color: transparent;
	margin: 5px 10px;
}

#two {
	background-color: transparent;
}

#three {
	flex: 0 0 300px;
	margin: 10px;
	background-color: transparent;
}

#four {
	flex: 0 0 100px;
	background-color: transparent;
}

#five {
	flex: 0 0 400px;
}

#six {
	min-height: 30vh;
}

#seven {
	min-height: 100vh;
	padding: 8px 50px;
}

#eight {
	min-height: 70vh;
	padding: 8px 50px;
}

#ten {
	min-height: 70vh;
	width: 100%;
	margin: 10px;
}

#eleven {
	min-height: 50vh;
	margin: 10px;
	background-color: transparent;
}

#twelfe {
	background-color: transparent;
}

.testresults {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 250px);
	background-color: transparent;
	gap: 10px;
	flex-grow: 1;
	position: middle;
}

.testresults>div {
	background-color: #F1F1F1;
	gap: 10px;
	flex-grow: 1;
	position: middle;
}

.parallax1 {
	background-image:
		url("../images/DT_CS_PPT_SlideDivider_Coffee_Ppt_16x9_rgb.png");
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50vh;
}

.parallax2 {
	margin-top: 70px; background-image :
	url("../images/DT_CS_PPT_SlideDivider_Headphone_Ppt_16x9_rgb.png");
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:
		url("../images/DT_CS_PPT_SlideDivider_Headphone_Ppt_16x9_rgb.png");
}

.parallax3 {
	background-image:
		url("../images/DT_CS_PPT_SlideDivider_Drop_Ppt_16x9_rgb.png");
	min-height: 150px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.telekomlogo {
	background-image: url("../images/Telekom_Logo_2013.svg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 250px;
}

.wcs {
	background-image:
		url("../images/abfdfd2549d860c372512d39837341c1.png-Logo letras rosa.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 450px;
}

.junit {
	background-image: url("../images/junit5-banner.png");
	background-repeat: no-repeat;
	background-size: 450px;
	background-position: center;
	text-indent: -9999px;
}

#ueberblick {
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-weight: 500;
	word-spacing: 2px;
	line-height: 1.8em;
}

.asidepicture {
	background-image:
		url("../images/DT_Wallpaper_Network_03_Ppt_16x9_rgb.jpg");
	background-repeat: repeat;
	background-size: fill;
}

.part2 {
	display: flex;
	background-color: transparent;
}

.part2>div {
	background-color: white;
	height: 210px;
	width: 130px;
	margin: 0 30px;
	flex-grow: 1;
	align: center;
}

.part3 {
	display: flex;
	background-color: transparent;
	min-height: 8 50vh;
}

.part3>div {
	background-color: white;
	height: 210px;
	width: 130px;
	margin: 0 30px;
	flex-grow: 1;
	align: center;
}

#art2left {
	width: 47%;
	border: thick double #32a1ce;
}

.dependencies {
	background-image: url("../images/testDependency.JPG");
	background-repeat: no-repeat;
	background-size: 700px;
	background-position: right;
}

#pic {
	align: center;
}

#art2right {
	text-align: left;
	font-size: 24px;
	color: #848789;
	font-weight: 300;
	word-spacing: 2px;
	line-height: 1.8em;
	margin-top: 50px;
}

.queuepic1 {
	background-image: url("../images/beforeeach.JPG");
	background-repeat: no-repeat;
	background-size: 700px;
	background-position: left;
	background-color: transparent;
}

.queuepic2 {
	background-image: url("../images/test.JPG");
	background-repeat: no-repeat;
	background-size: 700px;
	background-position: left;
	background-color: transparent;
}

.queuepic3 {
	background-image: url("../images/aftereach.JPG");
	background-repeat: no-repeat;
	background-size: 700px;
	background-position: left;
	background-color: transparent;
}

.abovepicture {
	margin: 30px;
	text-align: center;
	background-color: transparent;
}

.telekomlogoclosing {
	background-image: url("../images/T_Logo_Claim_INT_WebHeader_RGB_p.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 700px;
	margin: 30px;
}